.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.delete-form {
  display: inline;
}

.header {
  text-align: center;
}

.form-body {
  width: 30%;
  margin: 25px auto;
}

#map{
  height: 400px;
  width: 100%;
}

#comment-edit {
  margin-right: 0.5vh;
}

/* .thumbnail .caption-full{
  padding: 9px;
} */